---
import { Button } from "./ui/button"

interface ProjectProps {
  frontmatter: {
    title: string
    img: string
    dates: string
    skills: string[]
    link: string
    secondLink?: { text: string; link: string },
    subtitle: string
  },
}

const { frontmatter: {title, img, dates, skills, link, secondLink, subtitle} } = Astro.props as ProjectProps
---
<div class="grid grid-cols-12">
  <div
    class="grid grid-cols-12 col-span-12 md:col-span-10 lg:col-span-11 gap-3 px-3 pt-3 item-divider"
  >
    <div class="col-span-12 flex flex-col">
      <h2 class="text-3xl">{title}</h2>
      <h3 class="text-2xl">{dates}</h3>
    </div>
      <div class="flex flex-col col-span-12 lg:col-span-6 mb-3 order-0 lg:order-1">
        <div class="pb-2">
          <h3 class="text-2xl">Summary</h3>
          <div class="text-md">
            <slot />
          </div>
        </div>
        <h3 class="text-2xl">Skills</h3>
        <div class="flex gap-1 flex-wrap mb-2 text-md">
          {
            skills.map(skill => <p class="py-0.5 px-2 rounded-full bg-slate-700 inline">{skill}</p>)
          }
        </div>
        <div
          class="flex gap-3 flex-wrap"
        >
          <!-- <a
            href={link}
            target="_blank"
            rel="noopener noreferrer"
            role="button"
            class="w-sm-100"
          >
            <Button className="max-md:w-full">
              Visit Website
            </Button>
          </a> -->

          <a
            class="button w-sm-100"
            href={link}
            target="_blank"
            rel="noopener noreferrer"
            role="button"
            >Visit Website</a>
          {secondLink && (
            <a
              class="button button-outline w-sm-100"
              href={secondLink.link}
              target="_blank"
              rel="noopener noreferrer"
              role="button"
              >{secondLink.text}</a>
          )}
        </div>
      </div>
      <div
        class="col-span-12 lg:col-span-6 mb-3 order-1 md:order-0 flex flex-col place-content-center text-center items-center"
      >
        <img
          class="w-full lg:w-1/2"
          src={img}
          alt={`${title} Adamo Orsini`}
        />
      </div>
  </div>
  <div class="col-2 col-lg-1 d-none d-md-flex pt-3 border-start">
    <div class="subtitleSection">
      <h1 class="subtitle">{subtitle}</h1>
    </div>
  </div>
</div>
