---
import { Image } from "astro:assets";
import Button from "./Button.astro";
import { ExternalLink, Github } from "lucide-astro";

interface ProjectProps {
  frontmatter: {
    title: string;
    img: string;
    dates: string;
    skills: string[];
    link?: string;
    github?: string;
    secondLink?: { text: string; link: string };
    subtitle: string;
  };
}

const {
  frontmatter: { title, img, dates, skills, link, github, secondLink, subtitle },
} = Astro.props as ProjectProps;
---

<div class="grid grid-cols-12 gap-4">
  <div
    class="grid grid-cols-12 col-span-12 md:col-span-10 lg:col-span-11 gap-3 pt-3 item-divider"
  >
    <div
    class="flex flex-col gap-2 col-span-12 lg:col-span-6 mb-3"
    >
    <h2 class="text-3xl lg:text-4xl">{title}</h2>
    <h3 class="text-xl lg:text-2xl">{dates}</h3>
      <h3 class="text-2xl lg:text-3xl">Summary</h3>
      <div class="text-md mb-3">
        <slot />
      </div>
      <h3 class="text-2xl lg:text-3xl">Skills</h3>
      <div class="flex gap-1.5 flex-wrap text-md mb-3">
        {
          skills.map((skill) => (
            <p class="py-0.5 px-2 rounded-full bg-primaryBlueDark inline">
              {skill}
            </p>
          ))
        }
      </div>
      <div class="flex gap-3 flex-wrap">
        {
          link && (
            <Button className="max-md:w-full" href={link} newTab><ExternalLink size="20" class="mr-2" /> Visit Website</Button>
          )
        }
        {
          github && (
            <Button className="max-md:w-full" href={github} newTab><Github size="20" class="mr-2" /> View on GitHub</Button>
          )
        }
        {
          secondLink && (
            <Button className="max-md:w-full" href={secondLink.link} newTab variant={"outline"}>
              {secondLink.text}
            </Button>
          )
        }
      </div>
    </div>
    <div
      class="col-span-12 lg:col-span-6 mb-3 order-1 md:order-0 flex flex-col place-content-center text-center items-center"
    >
      <Image
        class="max-w-[750px] w-full object-contain aspect-video"
        src={img}
        alt={`${title} Adamo Orsini`}
        width={750}
        height={300}
      />
    </div>
  </div>
  <div class="col-span-2 lg:col-span-1 max-md:hidden md:flex pt-3 pl-1 border-s">
    <div class="subtitleSection">
      <h1 class="subtitle text-3xl">{subtitle}</h1>
    </div>
  </div>
</div>
