---
import { MoveUpRight } from "lucide-astro";

interface Props {
  title: string;
  subtitle?: string;
  image?: string;
  body: string;
  href: string;
}

const { href, title, subtitle, image, body } = Astro.props;
---

<div
  class="group link-card flex max-md:flex-col bg-primaryBlueBackground drop-shadow-md rounded-md transition md:h-full items-center justify-center hover:bg-primaryBlueDark/30 hover:drop-shadow-none"
>
  <a
    href={href}
    class="w-full h-full p-4 md:p-6 transition flex gap-x-4 items-center justify-between"
  >
    <div class="flex max-lg:flex-col gap-4 lg:items-center w-full">
      {
        image && (
          <img src={image} alt={title} class="rounded-lg w-full md:w-52 lg:w-auto aspect-video lg:h-32 object-contain" />
        )
      }
      <div>
        <div class="mb-3">
          <h2
            class="text-2xl text-primaryBlueLight group-hover:text-white transition"
          >
            {title}
						<span class="lg:hidden">&rarr;</span>
          </h2>
          {subtitle && <h3 class="text-lg font-semibold">{subtitle}</h3>}
        </div>
        <p class="lg:max-w-md">
          {body}
        </p>
      </div>
    </div>
    <div class="max-lg:hidden">
      <MoveUpRight size="40" class="group-hover:animate-bounce transition" />
    </div>
  </a>
</div>
