---
import { Image } from "astro:assets";
import Button from "./Button.astro";
import { ExternalLink } from "lucide-astro";
import Skill from "./Skill.astro";

export interface ExperienceProps {
  frontmatter: {
    position: string;
    company: string;
    href: string;
    type: string;
    dates: string;
    img: string;
    skills: string[];
    link?: string;
    order?: number;
    hidden?: boolean;
    highlight?: boolean;
    highlightSummary?: string;
  };
}

const {
  frontmatter: { position, company, type, img, dates, skills, link, href },
} = Astro.props as ExperienceProps;
---

<div id={href} class="snap-card grid grid-cols-12 gap-4">
  <div
    class="grid grid-cols-12 col-span-12 md:col-span-10 lg:col-span-11 gap-3 p-6 bg-primaryBlueDark/10 backdrop-blur-sm border border-white/5 shadow-lg hover:shadow-xl hover:bg-primaryBlueDark/15 transition-all duration-300 rounded-xl mb-10"
  >
    <div class="flex flex-col justify-between gap-3 col-span-12">
      <div class="flex justify-between items-start gap-4">
        <div>
          <h2 class="text-3xl lg:text-4xl mb-0.5">{position}</h2>
          <h3 class="text-xl lg:text-2xl font-bold text-white mb-0.5">{company}</h3>
          <p class="text-sm text-gray-400 mb-2">{dates}</p>
          <p
            class="py-0.5 text-sm px-2 -ml-2 rounded-full border-2 border-primaryBlueDark inline"
          >
            {type}
          </p>
        </div>
        <Image
          class="h-20 w-auto object-contain rounded-lg shrink-0"
          src={img}
          alt={`${company} logo`}
          width={200}
          height={80}
        />
      </div>
      <div class="text-base">
        <slot />
      </div>
      <div class="flex gap-1.5 flex-wrap">
        {skills.map((skill) => <Skill skill={skill} />)}
      </div>
      <div class="flex gap-3 flex-wrap">
        {
          link && (
            <Button className="max-md:w-full" href={link} newTab>
              <ExternalLink size="20" class="mr-2" /> Visit Website
            </Button>
          )
        }
      </div>
    </div>
  </div>
</div>
