---
import { Image } from "astro:assets";
import Button from "./Button.astro";
import { ExternalLink, Github } from "lucide-astro";
import Skill from "./Skill.astro";
import ProjectReact from "./Project.tsx";

export interface ProjectProps {
  frontmatter: {
    title: string;
    href: string;
    img: string;
    dates: string;
    skills: string[];
    link?: string;
    github?: string;
    secondLink?: { text: string; link: string };
    subtitle: string;
    order?: number;
    hidden?: boolean;
    highlight?: boolean;
    highlightSummary?: string;
  };
}

const {
  frontmatter: { title, href, img, dates, skills, link, github, secondLink },
} = Astro.props as ProjectProps;
// const {
//   frontmatter,
// } = Astro.props as ProjectProps;
---

<div
  id={href}
  class="snap-card grid grid-cols-12 col-span-12 md:col-span-10 lg:col-span-11 gap-3 p-6 bg-primaryBlueDark/10 backdrop-blur-sm border border-white/5 shadow-lg hover:shadow-xl hover:bg-primaryBlueDark/15 transition-all duration-300 rounded-xl mb-10"
>
  <div class="flex flex-col justify-between gap-3 col-span-12 lg:col-span-6">
    <div>
      <h2 class="text-3xl lg:text-4xl mb-0.5">{title}</h2>
      <p class="text-sm text-gray-400">{dates}</p>
    </div>
    <div class="text-base">
      <slot />
    </div>
    <div class="flex gap-1.5 flex-wrap">
      {skills.map((skill, i) => <Skill skill={skill} key={i} />)}
    </div>
    <div class="flex gap-3 flex-wrap">
      {
        link && (
          <Button className="max-md:w-full" href={link} newTab>
            <ExternalLink size="20" class="mr-2" /> Visit Website
          </Button>
        )
      }
      {
        github && (
          <Button className="max-md:w-full" href={github} newTab>
            <Github size="20" class="mr-2" /> View on GitHub
          </Button>
        )
      }
      {
        secondLink && (
          <Button
            className="max-md:w-full"
            href={secondLink.link}
            newTab
            variant={"outline"}
          >
            {secondLink.text}
          </Button>
        )
      }
    </div>
  </div>
  <div
    class="col-span-12 lg:col-span-6 order-1 md:order-0 flex flex-col place-content-center text-center items-center overflow-hidden rounded-lg"
  >
    <Image
      class="max-w-[750px] w-full object-contain aspect-video rounded-lg"
      src={img}
      alt={`${title}`}
      width={750}
      height={300}
    />
  </div>
</div>

<!-- <ProjectReact frontmatter={frontmatter} client:load /> -->
